<% include ../common/about-header %>

<div class="about-container">
    <h2>Politistatus - Sobre</h2>

    <div id="content">
        <div class="row images-row">
            <div style="margin-top: 20px;">
                <div class="col-xs-4">
                    <div style="margin-left: 20px;" class="imgwrap"><img width="400px;" src="/images/nicolas.png">
                        <div class="img-overlay"></div>
                    </div>
                </div>
                <div id="developers" class="col-xs-3"><h1>Desenvolvedores</h1></div>
                <div class="col-xs-4">
                    <div style="float: right;" class="imgwrap"><img width="400px;" src="/images/tiao.png">

                        <div class="img-overlay"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row names-row">
            <div style="padding-left: 0px;" class="col-xs-4 contact">
                <h1>Nícolas Vieira</h1>
                <h3  class="contact-label">Contato: <a href="mailto:nicolashenrique2@hotmail.com">nicolashenrique2@hotmail.com</a></h3>
            </div>
            <div id="hammer" class="col-xs-3" style="text-align: center"><h1><i class="fa fa-gavel"></i></h1></div>
            <div style="float: right" class="col-xs-4 contact">
                <h1>Sebastião Batista</h1>
                <h3 class="contact-label">Contato: <a href="mailto:sbaneto@yahoo.com.br">sbaneto@yahoo.com.br</a></h3>
            </div>
        </div>
        <div class="row openSource-row">
            <div class="col-xs-12" style="padding-left: 0px;"><h3>Este é um projeto Open Source!</h3></div>
        </div>
        <div class="row git-row">
            <div class="col-xs-12" style="padding-left: 0px;"><a href="https://github.com/Nikofoxxx/TCC"  target="_blank"><i class="fa fa-github"></i> GitHub</a></div>
        </div>

        <div class="row button-row">
            <div class="col-xs-12" style="padding-left: 0px;">
                <a href="/index" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</div>
</body>
<% include ../common/footer %>
</html>