<% include ../common/header %>

<style>
	.pageError {
		padding: 20px 0px 700px;
	    background-image: url(../images/background.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;	
	}
</style>
<div class="pageError">
<div class="container well" style="margin-top: 100px;">
	<h1>Ops.. Essa pagina não existe!</h1>
	<h4>Clique <a href="/">aqui</a> para voltar a pagina anterior.</h4>
</div>
</div>