<% include ../common/header %>

<div class="container well" style="margin-top: 100px;">
	<h1>Ops.. algo deu errado aqui!</h1>

	<h4>Esse erro foi reportado e estaremos corrigindo o
	 mais breve possivel, clique <a href="/">aqui</a> 
	 para voltar a pagina anterior.</h4>

	<h5>Erro: <%- error %> <h5>
</div>
