<% include ../common/error-header %>
    <div class="serverError">
        <h2>Politistatus: Erro 500</h2>

        <div class="container well" style="margin-top: 100px;">
            <h1>Ops... Algo de errado aconteceu!</h1>

            <h4>Esse erro foi reportado e estaremos corrigindo o
            mais breve possível! Clique <a href="/">aqui</a>
            para voltar a pagina anterior.</h4>

        </div>
    </div>
</body>
<% include ../common/footer %>
</html>
