<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Politistatus</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/aboutStyle.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/javascripts/common/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/about/aboutScript.js"></script>

    <link rel="shortcut icon" href="../images/hammer.ico">
</head>
<body>
<nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
        <div id="bar-left" class="navbar-header">
            <a id="logo" class="navbar-brand" href="#"><i class="fa fa-gavel"></i>  Politistatus</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div id="bar-right" class="navbar-right">
                <ul class="nav">
                    <a id="about" class="navbar-brand" href="/about">Sobre</a>
                </ul>
            </div>
        </div>
    </div>
</nav>