<footer>
    <div class="row" style="width: 100%;">
        <div class="col-md-5  footer-left"><i class="fa fa-gavel"></i> Politistatus</div>
        <div class="col-md-4 footer-center">
            TCC - Big Data. Univás, Pouso Alegre - 2015
        </div>
        <div class="col-md-3"></div>
    </div>
</footer>