<div id="createPolitcModal" class="modal fade">
    <div class="modal-dialog">
       	<div class="modal-content">
	       <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Adicionar Político</h4>
			</div>
			<div class="modal-body">	
				<div class="input-group col-md-12">
			  		<label>Nome do Político:</label>
			  		<input type="text" id="createModalInput" class="form-control">
				</div>
				<br />
				<div class="modal-footer">
					<a id="savePoliticBtn" class="btn btn-primary" onClick="createPolitic();">Salvar</a>
					<a id="closeEditModalBtn" class="btn btn-default" data-dismiss="modal" >Cancelar</a>
				</div>
			</div>
		</div>
    </div>
</div>
	 