<div id="editPolitcModal" class="modal fade">
    <div class="modal-dialog">
       	<div class="modal-content">
	       <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Editar Político</h4>
			</div>
			<div class="modal-body">	
				<div class="input-group col-md-12">
			  		<label>Político</label>
			  		<input type="text" id="modalPoliticInput" class="form-control">
			  		<input type="text" id="modalPoliticInputHidden" class="form-control hidden">
				</div>
				<br />
				<div class="modal-footer">
					<a id="editPoliticBtn" class="btn btn-primary" onClick="sendPoliticToEdit();">Salvar</a>
					<a id="closeEditMoldaBtn" class="btn btn-default" data-dismiss="modal" >Cancelar</a>
				</div>
			</div>
		</div>
    </div>
</div>
	 