<div id="tweetsModal" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Lista de Tweets</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    <div id="tabs"></div>
                    <div class="tab-content" style="height: 300px;">
                        <br/>
                        <div class="tab-pane active separator" id="tab0">
                            <!-TODO: Tweets->
                        </div>
                        <div class="tab-pane" id="tab1">
                            <p>Data 2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>