<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Politistatus</title>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script type="text/javascript" src="/javascripts/common/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="../images/hammer.ico">
  </head>
  <body>