<footer>
    <div class="row" style="width: 100%;">
        <div class="col-xs-3  footer-left"><i class="fa fa-gavel"></i> Politistatus</div>
        <div class="col-xs-7 footer-center" style="text-align: center">
            TCC - Big Data. Univás, Pouso Alegre - 2015
        </div>

    </div>
</footer>