@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.navbar-default {
    border-bottom-width: 2px;
    border-color: #FFF;
}

#bar-left a, #bar-right a {
    color: rgb(0, 30, 79);
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Oswald', sans-serif;
}

.presentation {
    padding: 20px 0px 700px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation  #userPanel {
    margin-top: 50px;
    float: right;
    margin-right: 20px;
}

#userPanel a{
    color: rgb(0, 30, 79);
}

.presentation #content {
    margin-top: 150px;
}

.presentation h1 { 
    font-family: 'Oswald', sans-serif;
    text-align: center; 
    font-size: 60px; 
}

.presentation h2 { 
    margin-top: 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center; 
    font-size: 40px; 
}

.presentation .panel-default {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}

.navbar-default {
    background-color: rgb(0, 151, 255);
}

.dataTables_filter, .dataTables_paginate, .dataTables_info {
   text-align: right;
}

tbody td .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pageError, .serverError {
    padding: 20px 0px 700px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.pageError h2, .serverError h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center; 
    font-size: 60px;
}